<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renrendai.loan.ucredit.mapper.AuthFlowLogMapper">
  <resultMap id="BaseResultMap" type="com.renrendai.loan.ucredit.common.model.server.AuthFlowLog">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="credit_request_id" jdbcType="VARCHAR" property="creditRequestId" />
    <result column="node_state" jdbcType="VARCHAR" property="nodeState" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="addition" jdbcType="BIT" property="addition" />
    <result column="supplement" jdbcType="BIT" property="supplement" />
  </resultMap>

  <parameterMap id="ParamMap" type="com.renrendai.loan.ucredit.common.model.server.AuthFlowLog"/>
  <sql id="Base_Column_List">
		id, uid, credit_request_id, node_state, create_time
	</sql>

  <select id="queryByParam" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from ms_loanflow_authflow_log
    <where>
      <if test="uid != null">
        uid=#{uid, jdbcType=BIGINT}
      </if>
      <if test="creditRequestId != null">
        and credit_request_id=#{creditRequestId, jdbcType=VARCHAR}
      </if>
      <if test="nodeState != null">
        and node_state=#{nodeState, jdbcType=VARCHAR}
      </if>
    </where>
    order by id desc
    <if test="limit != null">
      limit #{limit, jdbcType=INTEGER}
    </if>
  </select>

  <update id="updateBit" parameterType="map">
    update ms_loanflow_authflow
    <set>
      <if test="currentNode != null">
        current_node=#{currentNode, jdbcType=VARCHAR}, node_time=now(),
      </if>
      <if test="currentState != null">
        current_state=#{currentState, jdbcType=VARCHAR},
      </if>
      <if test="requiredBit != null">
        required_bit=#{requiredBit, jdbcType=VARCHAR},
      </if>
      <if test="optionalBit != null">
        optional_bit=#{optionalBit, jdbcType=VARCHAR},
      </if>
      <if test="asyncBit != null">
        async_bit=#{asyncBit, jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        task_type=#{taskType, jdbcType=INTEGER},
      </if>
      <if test="appendCreditRequestId != null">
        append_credit_request_id=#{appendCreditRequestId, jdbcType=VARCHAR},
      </if>
    </set>
    <where>
      credit_request_id=#{creditRequestId, jdbcType=VARCHAR}
    </where>
  </update>
</mapper>