<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renrendai.loan.ucredit.mapper.AuthFlowMapper">
  <resultMap id="BaseResultMap" type="com.renrendai.loan.ucredit.common.model.server.AuthFlow">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="credit_request_id" jdbcType="VARCHAR" property="creditRequestId" />
    <result column="credit_type" jdbcType="INTEGER" property="creditType" />
    <result column="institution_type" jdbcType="VARCHAR" property="institutionType" />
    <result column="route" jdbcType="INTEGER" property="route" />
    <result column="prod_key" jdbcType="VARCHAR" property="prodKey" />
    <result column="flow_key" jdbcType="VARCHAR" property="flowKey" />
    <result column="task_type" jdbcType="INTEGER" property="taskType" />
    <result column="node_key" jdbcType="VARCHAR" property="nodeKey" />
    <result column="node_state" jdbcType="VARCHAR" property="nodeState" />
    <result column="required_bit" jdbcType="VARCHAR" property="requiredBit" />
    <result column="optional_bit" jdbcType="VARCHAR" property="optionalBit" />
    <result column="async_bit" jdbcType="VARCHAR" property="asyncBit" />
    <result column="append_credit_request_id" jdbcType="VARCHAR" property="appendCreditRequestId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="node_time" jdbcType="TIMESTAMP" property="nodeTime" />

  </resultMap>

  <parameterMap id="ParamMap" type="com.renrendai.loan.ucredit.common.model.server.AuthFlow"/>
  <sql id="Base_Column_List">
		id, uid, credit_request_id, credit_type, prod_key,flow_key,route,task_type, node_key, node_state, required_bit, optional_bit, async_bit, append_credit_request_id,create_time,update_time, node_time
	</sql>

  <select id="getByCreditRequestId" resultMap="BaseResultMap" parameterType="string">
    select
    <include refid="Base_Column_List"></include>
    from ms_loanflow_authflow
    <where>
      credit_request_id=#{creditRequestId, jdbcType=VARCHAR}
    </where>
  </select>

  <update id="updateBit" parameterType="map">
    update ms_loanflow_authflow
    <set>
      <if test="currentNode != null">
        node_key=#{currentNode, jdbcType=VARCHAR}, node_time=now(),
      </if>
      <if test="currentState != null">
        node_state=#{currentState, jdbcType=VARCHAR},
      </if>
      <if test="requiredBit != null">
        required_bit=#{requiredBit, jdbcType=VARCHAR},
      </if>
      <if test="optionalBit != null">
        optional_bit=#{optionalBit, jdbcType=VARCHAR},
      </if>
      <if test="asyncBit != null">
        async_bit=#{asyncBit, jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        task_type=#{taskType, jdbcType=INTEGER},
      </if>
      <if test="appendCreditRequestId != null">
        append_credit_request_id=#{appendCreditRequestId, jdbcType=VARCHAR},
      </if>
    </set>
    <where>
      credit_request_id=#{creditRequestId, jdbcType=VARCHAR}
    </where>
  </update>

</mapper>