<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renrendai.loan.ucredit.mapper.FundRecordMapper">
  <resultMap id="BaseResultMap" type="com.renrendai.loan.ucredit.common.model.server.FundRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="credit_request_id" jdbcType="VARCHAR" property="creditRequestId" />
    <result column="application_no" jdbcType="VARCHAR" property="applicationNo" />
    <result column="stage_type" jdbcType="VARCHAR" property="stageType" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="audit_result" jdbcType="VARCHAR" property="auditResult" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="reject_reason" jdbcType="VARCHAR" property="rejectReason" />
    <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>