<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renrendai.loan.ucredit.mapper.GrayscaleStrategyMapper">
  <resultMap id="BaseResultMap" type="com.renrendai.loan.ucredit.common.model.server.GrayscaleStrategy">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT"  property="id" />
    <result column="institution" jdbcType="VARCHAR" property="institution" />
    <result column="gray_type" jdbcType="VARCHAR" property="grayType" />
    <result column="strategy_type" jdbcType="VARCHAR" property="strategyType" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
    <result column="enable" jdbcType="INTEGER" property="switchStatus" />
  </resultMap>
</mapper>