<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renrendai.loan.ucredit.mapper.InstitutionCardMapper">
  <resultMap id="BaseResultMap" type="com.renrendai.loan.ucredit.common.model.server.InstitutionCard">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="rrd_card_id" jdbcType="BIGINT" property="rrdCardId" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="institution_type" jdbcType="VARCHAR" property="institutionType" />
    <result column="bank_no" jdbcType="VARCHAR" property="bankNo" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo" />
    <result column="open_date" jdbcType="VARCHAR" property="openDate" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="status_name" jdbcType="VARCHAR" property="statusName" />
    <result column="false_reason" jdbcType="VARCHAR" property="falseReason" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>