<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renrendai.loan.ucredit.mapper.InstitutionCheckMapper">
  <resultMap id="BaseResultMap" type="com.renrendai.loan.ucredit.common.model.server.InstitutionCheck">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="credit_request_id" jdbcType="VARCHAR" property="creditRequestId" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="check_type" jdbcType="TINYINT" property="checkType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>