<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renrendai.loan.ucredit.mapper.LoanSupplmentMapper">
  <resultMap id="BaseResultMap" type="com.renrendai.loan.ucredit.common.model.server.LoanSupplement">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="credit_request_id" jdbcType="VARCHAR" property="creditRequestId" />
    <result column="repay_source" jdbcType="VARCHAR" property="repaySource" />
    <result column="income" jdbcType="VARCHAR" property="income" />
    <result column="debt_count" jdbcType="INTEGER" property="debtCount" />
    <result column="loan_use" jdbcType="VARCHAR" property="loanUse" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>