<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renrendai.loan.ucredit.mapper.PersonalMapper">
  <resultMap id="BaseResultMap" type="com.renrendai.loan.ucredit.common.model.server.Personal">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="credit_request_id" jdbcType="VARCHAR" property="creditRequestId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="id_no_start_time" jdbcType="BIGINT" property="idNoStartTime" />
    <result column="id_no_end_time" jdbcType="BIGINT" property="idNoEndTime" />
    <result column="id_no_validate_state" jdbcType="TINYINT" property="idNoValidateState" />
    <result column="edu_level" jdbcType="VARCHAR" property="eduLevel" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="issue_by" jdbcType="VARCHAR" property="issueBy" />
    <result column="graduate_time" jdbcType="BIGINT" property="graduateTime" />
    <result column="province" jdbcType="INTEGER" property="province" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="district" jdbcType="INTEGER" property="district" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="home_address" jdbcType="VARCHAR" property="homeAddress" />
    <result column="birthday" jdbcType="BIGINT" property="birthday" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="idcard_front" jdbcType="VARCHAR" property="idcardFront" />
    <result column="issue_by" jdbcType="VARCHAR" property="issueBy" />
    <result column="ppic_id" jdbcType="INTEGER" property="ppicId" />
    <result column="npic_id" jdbcType="INTEGER" property="npicId" />
    <result column="vcard_id" jdbcType="INTEGER" property="vcardId" />
    <result column="email_pwd" jdbcType="VARCHAR" property="emailPwd" />
    <result column="contact_email" jdbcType="VARCHAR" property="contactEmail" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>