<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renrendai.loan.ucredit.mapper.ZipCodeMapper">
  <resultMap id="BaseResultMap" type="com.renrendai.loan.ucredit.common.model.server.ZipCode">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="zip_id" jdbcType="INTEGER" property="zipId" />
    <result column="region_id" jdbcType="VARCHAR" property="regionId" />
    <result column="zip_number" jdbcType="VARCHAR" property="zipNumber" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>
</mapper>